@charset "utf-8";

body{
    background-color:#E5E5E5 !important;
}

/***** 頭像設定 *****/
.round_photo{
    width: 110px;
    height: 110px;
    display: flex;
    border: #667080 3px solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button#btn_login_page{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-top: 15px;
    gap: 10px;

    background: #EEF1F4;
    border: 1px solid #667080;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #667080;
    font-size: small;
}

/***** 表格設定 *****/
label.form-label{
    color: #667080;
    font-weight: bold;
}

button#btn_check_edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #EEF1F4;
    border: 1px solid #EEF1F4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-size: 12px;
    color: #BCBCBC;
}

button#btn_logout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #667080;
    border: 1px solid #667080;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-size: 12px;
}